.bing-maxwidth {
  max-width: 75%;
}
.bingText-16 {
  font-size: 18px;
  line-height: 2.25rem;
  color: #616153;
  letter-spacing: 0.25rem;
}
.bingH2 {
  font-size: 48px;
  color: #616153;
  font-weight: 700;
}

.bingH4 {
  font-size: 32px;
  color: #616153;
}
.bingH3 {
  font-size: 18px;
  color: #616153;
}
.bingimg3 {
  bottom: 12%;
  right: 50%;
}

.bing-News-dot {
  border-radius: 50%;
  width: 20px;
  height: 20px;
  background-color: #d9d9d9;
  margin: 15px 0;
}
.bing-News-dot:hover {
  background-color: #616153;
}
