.bingback {
  background-color: #fff;
}

.bing-maxwidth {
  max-width: 75%;
}

.bingText-16 {
  font-size: 18px;
  line-height: 2.5rem;
  color: #616153;
  letter-spacing: 0.25rem;
}

.bingH2 {
  font-size: 48px;
  color: #616153;
  font-weight: 700;
  letter-spacing: 0.5rem;
}

.bingH4 {
  font-size: 36px;
  color: #616153;
  font-weight: 500;
  letter-spacing: 0.5rem;
}

.bingH5 {
  font-size: 30px;
  color: #616153;
  letter-spacing: 0.5rem;
}

.bingH6 {
  font-size: 20px;
  color: #616153;
}

.bingimg3 {
  bottom: 12%;
  right: 0%;
}

.share img {
  object-fit: cover;
  padding: 4px;
}

.shareW-40 {
  width: 40%;
}

.shareW-60 {
  width: 60%;
}

.CSRNum1 {
  font-size: 64px;
  color: #616153;
  letter-spacing: 1rem;
}

.CSRNum2 {
  font-size: 58px;
  color: #616153;
  letter-spacing: 1rem;
}

.mapInfo ul {
  padding-left: 0;
}

.bingSelect {
  min-width: 4rem;
  min-height: 4rem;
  margin: 0 1rem;
  position: relative;

  input {
    margin: 0 1rem;
    position: absolute;
    left: -0.5rem;
    width: 75%;
    height: 100%;
    cursor: pointer;
  }

  img {
    position: absolute;
    z-index: 0;
    width: 100%;
    pointer-events: none;
    border-radius: 50%;
  }
}

.bingTable {
  margin: 0 !important;
  padding: 0 !important;
}

img.bingFlag1 {
  padding-top: 16rem;
}

img.bingFlag2 {
  padding-top: 8rem;
}

.bingPoniter {
  cursor: pointer;
}