.yu_header p {
        text-align: center;
        font-weight: bold;
        color: #615353;
        margin-bottom: 5rem;
}

.yu_logincard{
    background-color: rgba(255, 255, 255, 0.702);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    border-radius: 18px;
    padding: 3rem 0;
    margin-bottom: 5rem;
}
.yu_logincard a{
    display: block;
    text-decoration: none;
    text-align: center;
} 
.yu_inputblock{
    width: 30%;
    text-align: left;
    margin-top: 3rem;
    position: relative;
    
}
.yu_inputblock a{
    text-align: left;
    color: #615353;
}
.yu_logincard label{
    display: block;
    text-align: left;
    color: #616153;
} 
.yu_inputblock input{
    width: 100%;
    border: none;
    background-color: #EBEBEB;
    border-radius: 18px;
    color: #615353;
    height: 34px;
    padding-left: 1rem;
}
.yu_logincard button{
    border: none;
    background-color: #616153;
    color: white;
    border-radius: 18px;
    margin-top: 3rem;
    padding: .5rem 2rem;
}
.yu_logincard p a{
    color: #D01F1F;
    display: inline;
    margin-top: 3rem;
}
.yu_logincard p{
    margin-top: 3rem;
}

.yu_logineye{
    position: absolute;
    right: 3%;
    top: 25%;
    width: 5%;
    

}
.logincat{
    width: 100%;
    position: relative;
    img{
        width: 10%;
        position: absolute;
        top: -3em;
        left: 45%;

    }
}


