.yu_padchange_margintop{
  margin-top: 7rem;
}
.yu_psdchange_eye_relative {
  width: 100%;
  position: relative;
  img {
    width: 5%;
    position: absolute;
    right: 5%;
    top: -2rem;
  }
}
.psdchange_error{
  color: #D01F1F;
}