
    .yu_container{
        /* background-color: #F5F5F5; */
        color: #616153;
    }
   .yu_header{
        text-align: center;
        margin-bottom: 5rem;
        color: #616153;
    }
    .yu_bar_ul{
        display: flex;
        list-style-type: none;
        justify-content: space-around;
    }
   .yu_bar_nav{
        margin-bottom: 3rem;
    }
   .yu_bar_nav a{
        color: #AEAEAE;
        font-weight: bolder;
        text-decoration: none;
    }
    .yu_bar_nav a:hover{
        color: #616153;
        text-decoration: none;
    }
    .yu_profile{
        background-color: #ffff;
        border-radius: 18px;
        margin-bottom: 5rem;
        padding: 3rem;   
    }
    .yu_profile_editing{
        position: relative;
    }
    .yu_profile_form_group{
        margin-top: 3rem;
        position: relative;
        input{
            border-radius: 18px;
        }
    }
    .yu_avatar{
        border-radius: 18px;
        text-align: center;
    }
    .yu_avatar img{
        border-radius: 18px;
        width: 100%;
    }

    .yu_member_title p{
        text-align: center;
        font-size: 24px;
      
    }
    .yu_profile label{
        text-align: right;
        font-weight: bolder;
    }
    .yu_profile input{
        text-align: left;
        border: none;
        margin-left: 1rem;
    }
    .yu_profile .error{
        color: #D01F1F;
        position: absolute;
        left: 12rem;
        text-align: right;
    }
    .yu_avatar{
        height: 25rem;
        position: relative;
    }
    .yu_avatar_pic{
        width:60%;
        margin: auto;
        padding-top: 4rem;
        img{
            width: 100%;
            border-radius: 18px;
        }
    }
    .yu_avatar_btn{
        border: none;
        background-color: #F2A99B;
        color: white;
        border-radius: 18px;
        padding: .5rem 2rem;
        position: absolute;
        bottom: 0;
    }
    .yu_profile-btn{
        border: none;
        background-color: #616153;
        color: white;
        border-radius: 18px;
        margin: auto;
        position: absolute;
        bottom: 0;
        left: 40%;
        padding: .5rem 2rem;
    }
    .yu_milestone{
        justify-content: space-around;
        margin-bottom: 5rem;
       
    }
    .yu_stone_figure{
        width: 15vh;
    }
    .yu_stone_figure img{
        width: 100%;
    }
    .yu_milestone_text{
        margin: 1rem;
        font-size: 16px;
        text-align: center;
        
    }
    // .yu_flex{
    //     position: relative;
    // }

