header h2{
    text-align: center;
    font-weight: bold;
    color: #616153;
}
.logincard{
    background-color: whitesmoke;
    /* text-align: center; */
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    border-radius: 18px;
}
.logincard a{
    display: block;
    text-decoration: none;
    text-align: center;
} 
.inputblock{
    /* border: 1px solid red; */
    width: 30%;
    text-align: left;
    margin-top: 3rem;
    position: relative;
    
}
.inputblock a{
    text-align: left;
    color: #616153;
}
.logincard label{
    display: block;
    text-align: left;
    color: #616153;
} 
.logincard input{
    width: 100%;
    border: none;
}
.logincard button{
    border: none;
    background-color: #616153;
    color: white;
    border-radius: 18px;
    margin-top: 3rem;
}
.logincard p a{
    color: #D01F1F;
    display: inline;
    margin-top: 3rem;
}
.logincard p{
    margin-top: 3rem;
}

.logineye{
    position: absolute;
    right: 0;
    top: 1rem;
    width: 10%;
   
    

}
