#willow_adminplace {
  z-index: 999;
  .willow_littlenavbar_hight {
    min-height: 8rem;
  }
  .willow_minhight {
    min-height: 50vh;
  }
  .willow_palce_rel {
    position: relative;
    .willow_palce_abs {
      position: absolute;
      left: 1.5rem;
      color: #616153;
      transition: 0.3s;
    }
    .willow_button {
      border-radius: 15px;
      background-color: #616153;
      border: 1px solid #616153;
    }
    .willow_button:hover {
      color: #616153;
      background-color: #f5f5f5;
      border: 1px solid #616153;
      box-shadow: 1px 1px #616153;
    }
    .willow_list_button {
      border: none;
      border-radius: 10px;
      background-color: transparent;
      color: #616153;
      font-weight: 700;
      margin-top: 0.2rem;
      padding: 0.1rem 0.5rem;
    }
   
    .willow_btn-primary {
      --bs-btn-focus-shadow-rgb: #616153;
    }
    
  }
}
