#willowhavegoodprice {
  .willow_mar_sm {
    margin-right: 1rem;
  }
  .willow_button {
    border-radius: 19px;
    background-color: #616153;
    color: white;
    font-size: 1.1rem;

    margin-top: 2rem;
    padding: 0.5rem 2rem;
  }
  .willow_button:hover {
    background-color: #ffffff;
    color: #616153;
  }
}
