#willowshowlist {
  .willow_minh {
    height: 45vh;
    overflow: auto;
  }

  .willow_hdsty {
    width: 20%;
  }

  .willow_table_thead_style1 {
    color: white;
    background-color: #616153;
  }
  .willow_table_thead_style2 {
    color: white;
    background-color: #92927f;
  }
  .willow_table_thead_style3 {
    color: white;
    background-color: #96966e;
  }

  .willow_height {
    height: 500px;
    overflow: scroll;
  }
  .willow_focus_middle {
    border: 1px solid #ffffff;
  }
  .willow_focus_middle:hover {
    border: 1px solid #616153;
  }
  .willow_focus_left {
    border: 1px solid #ffffff;
  }
  .willow_focus_left:hover {
    border: 1px solid #92927f;
  }
  .willow_focus_right {
    border: 1px solid #ffffff;
  }
  .willow_focus_right:hover {
    border: 1px solid #96966e;
  }
  
  .willow_icons {
    svg {
      color:#616153;
      width: 1.2rem;
      height: 1.2rem;

   
    }
    :hover{
      color:#96966e;
    }
  }
  .willow_icons_add {
    svg {
      color:#616153;
      width: 2rem;
      height: 2rem;

   
    }
    :hover{
      color:#96966e;
    }
  }
}
