#willowshowlist {
  .willow_table_thead_style {
    color: white;
    background-color: #616153;
  }
  .willow_table  tr {
    width: 100%;
    display: table;
    // table-layout: fixed;
    table-layout: fixed;
  }
  .willow_table_tbody {
    display: block;
    height: 300px;
    overflow-y: scroll;
    scrollbar-width: none;
    /* ie10+ */
    -ms-overflow-style: none;
  }
  // .willow_table_tbody::-webkit-scrollbar {
  //   display: none;
  // }
}
