* {
    font-family: 'Zen Maru Gothic', sans-serif;
}

.Mars-container {
    margin-left: 158px;
    margin-right: 158px;
}

.Mars-img-wrap {
    display: flex;
    justify-content: center;
    position: relative;
}

.Mars-visual {
    width: 1120px;
    height: 320px;
    border-radius: 20px;
    margin-top: 68px;
    margin-bottom: 14px;
}

.Mars-img-wrap .Mars-prod-name {
    position: absolute;
    top: 100px;
    left: 75px;
    color: #FFF;
}

.Mars-product-slide {
    margin-left: 0;
    margin-right: 0;
    margin-top: 60px;
    margin-bottom: 150px;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.Mars-prod-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 340px;
    margin: 10px 30px;
}

.Mars-prod-wrap>div, .Mars-prod-wrap>span, .Mars-prod-wrap>button {
    margin: auto;
}

.Mars-prod-imgwr {
    width: 295px;
    height: 295px;
    border-radius: 50%;
    overflow: hidden;
}

.Mars-prod-img {
    width: 295px;
    height: 295px;
}

.Mars-prod-name {
    font-size: 32px;
}

.Mars-prod-price {
    font-size: 16px;
}

.Mars-cart-btn {
    width: 160px;
    height: 48px;
    background: #616153;
    opacity: 0.8;
    border-radius: 64px;

    color: #FFF;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 0%;
}

.Mars-cart-btn i {
    color: #FFF;
    margin-right: 3px;
}

/* ---商品內容頁--- */

.Mars-cnt-container {
    margin-left: 158px;
    margin-right: 158px;
}

.Mars-cnt-main {
    margin-bottom: 50px;
}

.Mars-cnt-imgwr {
    width: 450px;
    height: 400px;
    background-color: #fff;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Mars-cnt-img {
    width: 395px;
    height: 363px;
}

.Mars-cnt-info {
    margin-left: 150px;
}

.Mars-cnt-engnum {
    font-size: 16px;
}

.Mars-cnt-desc {
    max-width: 400px;
    font-size: 16px;
    margin-bottom: 140px;
}

.Mars-cnt-nutriwr {
    width: 100%;
    height: 230px; /*暫定*/
    background-color: #EEE;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Mars-cnt-nutrition {
    width: calc(100% - 32px);
    height: calc(100% - 32px);
    background-color: #fff;
    border-radius: 10px;
    padding: 26px 43px;
}

.Mars-nutri-p {
    margin-bottom: 16px;
}

.Mars-allergy-flex>.Mars-nutri-p {
    margin-right: 50px;
    margin-bottom: 0px;
}

.Mars-nutri-flex>.Mars-nutri-p {
    margin-right: 50px;
}

.Mars-nutri-flex {
    margin-bottom: 14px;
}

.Mars-nutri-flex>.Mars-nutri-p:last-child {
    margin-bottom: 16px;
    margin-right: 0;
}

.Mars-allergy-flex>.Mars-nutri-p:last-child {
    margin-right: 0;
}