nav {
    background-color: none;
}

.navbar-brand img {
    width: 180px;
}

.navContainer{
padding: 30px 30px;
}

.nav-item{
    margin-left: 20px;
    i{
        margin-right: 8px;
    }
}

.yu_pointer{
    cursor: pointer;
    margin-left: .5rem;
}



