#root {
  font-family: 'Noto Sans TC', sans-serif;
  font-family: 'Zen Maru Gothic', sans-serif;
  letter-spacing: .1em;
  background-color: #f5f5f5
}

@import './styles/global';

@import './pages/About/Story';
@import './pages/member/Login';
@import './pages/member/Membercenter';
@import './pages/member/MemberRegister';
@import './components/Navbar/Navbar';
@import './components/Footer/footer';
@import './components/BackgroundWaveAnimation/BackgroundWaveAnimation';

@import './styles/global';
