.bingback {
  background-color: #fff;
}

.bing-maxwidth {
  max-width: 75%;
}

.bingText-16 {
  font-size: 18px;
  line-height: 2.5rem;
  color: #616153;
  letter-spacing: 0.25rem;
}

.bingH2 {
  font-size: 48px;
  color: #616153;
  font-weight: 700;
  letter-spacing: 0.5rem;
}

.bingH4 {
  font-size: 36px;
  color: #616153;
  font-weight: 500;
  letter-spacing: 0.5rem;
}

.bingH5 {
  font-size: 30px;
  color: #616153;
  letter-spacing: 0.5rem;
}

.bingH6 {
  font-size: 20px;
  color: #616153;
}

.bingimg3 {
  bottom: 12%;
  right: 0%;
}

.share img {
  -o-object-fit: cover;
     object-fit: cover;
  padding: 4px;
}

.shareW-40 {
  width: 40%;
}

.shareW-60 {
  width: 60%;
}

.CSRNum1 {
  font-size: 64px;
  color: #616153;
  letter-spacing: 1rem;
}

.CSRNum2 {
  font-size: 58px;
  color: #616153;
  letter-spacing: 1rem;
}

.mapInfo ul {
  padding-left: 0;
}

.bingSelect {
  min-width: 4rem;
  min-height: 4rem;
  margin: 0 1rem;
  position: relative;
}
.bingSelect input {
  margin: 0 1rem;
  position: absolute;
  left: -0.5rem;
  width: 75%;
  height: 100%;
  cursor: pointer;
}
.bingSelect img {
  position: absolute;
  z-index: 0;
  width: 100%;
  pointer-events: none;
  border-radius: 50%;
}

.customSelect {
  min-width: 5rem;
  min-height: 5rem;
  margin: 0 1rem;
  position: relative;
}
.customSelect input {
  position: absolute;
  width: 95%;
  height: 100%;
  cursor: pointer;
}
.customSelect img {
  position: absolute;
  pointer-events: none;
  width: 100%;
  z-index: 0;
}
.customSelect p {
  position: absolute;
  left: 100px;
}

.bingTable {
  margin: 0 !important;
  padding: 0 !important;
}

img.bingFlag1 {
  padding: 16rem 3rem 0 3rem;
}

img.bingFlag2 {
  padding: 8rem 3rem 0 0;
}

.bingPoniter {
  cursor: pointer;
}

.swiper-button-next:after {
  content: "" !important;
}

.swiper-button-prev:after {
  content: "" !important;
}

.swiper-button-prev {
  width: 75px !important;
  height: 75px !important;
  background: url(./img/catpawl1.png);
  background-size: cover;
  transition: 0.3s ease;
}

.swiper-button-next {
  width: 75px !important;
  height: 75px !important;
  background: url(./img/catpawl.png);
  background-size: cover;
  transition: 0.3s ease;
}

.swiper-button-prev:hover,
.swiper-button-next:hover {
  transform: scale(1.3);
}

.yu_header p {
  text-align: center;
  font-weight: bold;
  color: #615353;
  margin-bottom: 5rem;
}

.yu_logincard {
  background-color: rgba(255, 255, 255, 0.702);
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  border-radius: 18px;
  padding: 3rem 0;
  margin-bottom: 5rem;
}

.yu_logincard a {
  display: block;
  text-decoration: none;
  text-align: center;
}

.yu_inputblock {
  width: 30%;
  text-align: left;
  margin-top: 3rem;
  position: relative;
}

.yu_inputblock a {
  text-align: left;
  color: #615353;
}

.yu_logincard label {
  display: block;
  text-align: left;
  color: #616153;
}

.yu_inputblock input {
  width: 100%;
  border: none;
  background-color: #EBEBEB;
  border-radius: 18px;
  color: #615353;
  height: 34px;
  padding-left: 1rem;
}

.yu_logincard button {
  border: none;
  background-color: #616153;
  color: white;
  border-radius: 18px;
  margin-top: 3rem;
  padding: 0.5rem 2rem;
}

.yu_logincard p a {
  color: #D01F1F;
  display: inline;
  margin-top: 3rem;
}

.yu_logincard p {
  margin-top: 3rem;
}

.yu_logineye {
  position: absolute;
  right: 3%;
  top: 25%;
  width: 5%;
}

.logincat {
  width: 100%;
  position: relative;
}
.logincat img {
  width: 10%;
  position: absolute;
  top: -3em;
  left: 45%;
}

.yu_container {
  /* background-color: #F5F5F5; */
  color: #616153;
}

.yu_header {
  text-align: center;
  margin-bottom: 5rem;
  color: #616153;
}

.yu_bar_ul {
  display: flex;
  list-style-type: none;
  justify-content: space-around;
}

.yu_bar_nav {
  margin-bottom: 3rem;
}

.yu_bar_nav a {
  color: #AEAEAE;
  font-weight: bolder;
  text-decoration: none;
}

.yu_bar_nav a:hover {
  color: #616153;
  text-decoration: none;
}

.yu_profile {
  background-color: white;
  border-radius: 18px;
  margin-bottom: 5rem;
  padding: 3rem;
}

.yu_profile_editing {
  position: relative;
}

.yu_profile_form_group {
  margin-top: 3rem;
  position: relative;
}
.yu_profile_form_group input {
  border-radius: 18px;
}

.yu_avatar {
  border-radius: 18px;
  text-align: center;
}

.yu_avatar img {
  border-radius: 18px;
  width: 100%;
}

.yu_member_title p {
  text-align: center;
  font-size: 24px;
}

.yu_profile label {
  text-align: right;
  font-weight: bolder;
}

.yu_profile input {
  text-align: left;
  border: none;
  margin-left: 1rem;
}

.yu_profile .error {
  color: #D01F1F;
  position: absolute;
  left: 12rem;
  text-align: right;
}

.yu_avatar {
  height: 25rem;
  position: relative;
}

.yu_avatar_pic {
  width: 60%;
  margin: auto;
  padding-top: 4rem;
}
.yu_avatar_pic img {
  width: 100%;
  border-radius: 18px;
}

.yu_avatar_btn {
  border: none;
  background-color: #F2A99B;
  color: white;
  border-radius: 18px;
  padding: 0.5rem 2rem;
  position: absolute;
  bottom: 0;
  transition: 0.5s;
}

.yu_avatar_btn:hover {
  color: #F2A99B;
  background-color: white;
  border: 1px solid #F2A99B;
}

.yu_profile-btn {
  border: none;
  background-color: #616153;
  color: white;
  border-radius: 18px;
  margin: auto;
  position: absolute;
  bottom: 0;
  left: 40%;
  padding: 0.5rem 2rem;
  transition: 0.5s;
}

.yu_profile-btn:hover {
  color: #616153;
  background-color: #f5f5f5;
  border: 1px solid #616153;
}

.yu_milestone {
  justify-content: space-around;
  margin-bottom: 5rem;
}

.yu_stone_figure {
  width: 10vh;
  margin: 1rem 1rem 0 0;
}

.yu_stone_figure img {
  width: 100%;
}

.yu_milestone_text {
  margin: 1rem 1rem 0 0rem;
  font-size: 16px;
  text-align: center;
  font-weight: bolder;
}

.stone {
  transition: 1s;
}

.stone:hover {
  margin-top: -3rem;
}

@media (max-width: 767px) {
  .yu_header h2 {
    font-size: 3rem !important;
  }
  .yu_center {
    display: flex;
    flex-direction: column;
  }
  .yu_center .yu_avatar {
    height: 100%;
  }
  .yu_center .yu_avatar .yu_avatar_pic {
    width: 100%;
    margin: 0 0 5rem 0;
    padding: 0;
  }
  .yu_center .yu_avatar .yu_avatar_pic img {
    width: 100%;
    border-radius: 18px;
  }
  .yu_center .col-6 {
    width: 100% !important;
    margin-top: 3rem !important;
  }
  .yu_center .col-6 .yu_member_title p {
    font-size: 1.5rem;
    font-weight: 500;
  }
  .stone {
    padding: 10%;
  }
  .yu_avatar_btn {
    margin-top: 3rem;
  }
  .yu_profile-btn {
    left: 25%;
    bottom: -3rem;
  }
  .yu_profile {
    padding: 5rem 3rem;
  }
}
.yu_header p {
  font-size: 32px;
  font-weight: bold;
  padding: 3rem;
}

.yu_regcard {
  background-color: rgba(255, 255, 255, 0.702);
  border-radius: 18px;
  text-align: center;
  padding: 3rem;
  margin-bottom: 5rem;
}
.yu_regcard p {
  margin: 3rem;
}
.yu_regcard .yu_reg_link_p {
  color: #f2a99b;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: auto;
}

.reg_form {
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.reg_form .inputblock {
  width: 30%;
  margin-top: 3rem;
  position: relative;
}
.reg_form .inputblock .reg_absolute {
  position: absolute;
  right: 0%;
  bottom: 10%;
}
.reg_form .inputblock .reg_absolute img {
  width: 30%;
}
.reg_form .reg_error {
  color: #d01f1f;
  margin: 0%;
  text-align: left;
  position: absolute;
}
.reg_form label {
  display: block;
  text-align: left;
}
.reg_form input {
  border-radius: 18px;
  border: none;
  background-color: #ebebeb;
  width: 100%;
  height: 34px;
  padding-left: 1rem;
  padding-right: 1rem;
}
.reg_form button {
  border: none;
  background-color: #616153;
  color: white;
  border-radius: 18px;
  margin-top: 3rem;
  padding: 0.5rem 2rem;
}

.yu_regCat {
  width: 100%;
  position: relative;
}
.yu_regCat img {
  width: 10%;
  position: absolute;
  top: -4.5rem;
  left: 45%;
}

.yu_padchange_margintop {
  margin-top: 7rem;
}

.yu_psdchange_eye_relative {
  width: 100%;
  position: relative;
}
.yu_psdchange_eye_relative img {
  width: 5%;
  position: absolute;
  right: 5%;
  top: -2rem;
}

.psdchange_error {
  color: #D01F1F;
}

.yu_history_col_table {
  border-radius: 18px;
  overflow: hidden;
  padding: 0% !important;
  margin: 5rem;
}

.yu_history_table {
  border-radius: 18px;
}
.yu_history_table tbody {
  color: #616153;
}
.yu_history_table tbody tr > td {
  text-align: center;
  vertical-align: middle;
}
.yu_history_table th {
  height: 4rem;
  text-align: center;
  vertical-align: middle;
}
.yu_history_table th td {
  text-align: center;
  vertical-align: middle;
}

.yu_history_thead {
  background-color: #616153;
  color: white;
}

.yu-psdforgot-btn-div {
  text-align: center;
}

.fadeout {
  -webkit-animation-name: animation;
          animation-name: animation;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
}

@-webkit-keyframes animation {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes animation {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
.pochi-confirm-btn-pri {
  font-size: 1.25rem;
  background-color: #616153 !important;
  border: 1px solid #616153;
  border-radius: 18px;
  color: #fff;
  cursor: pointer;
  text-decoration: none;
  transition: 0.5s;
  border: none !important;
  --bs-btn-focus-shadow-rgb: #616153 !important;
}

.pochi-confirm-btn-pri:hover {
  color: #616153;
  background-color: #f5f5f5;
  border: 1px solid #616153 !important;
}

nav {
  background-color: none;
}

.navbar-brand img {
  width: 180px;
}

.navContainer {
  padding: 20px 25px;
}

.nav-item {
  margin-left: 20px;
}
.nav-item i {
  margin-right: 8px;
}

.yu_pointer {
  cursor: pointer;
  margin-left: 0.5rem;
}

.cartTag {
  display: block;
  float: right;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: rgb(154, 102, 102);
  color: rgb(255, 255, 255);
  text-align: center;
}

footer {
  line-height: 2rem;
  height: 300px;
  background-color: #5a5a4c;
  color: #ffffff;
}
footer .text-center img {
  text-align: center;
}

footer .h300 {
  height: 300px;
}

footer .icon li {
  width: 4.25rem;
  height: 4.25rem;
  font-size: 1.75rem;
  color: #5a5a4c;
  background-color: #fff;
  border-radius: 50%;
}

footer .footerp {
  height: 40px;
  background-color: #5a5a4c;
}

.cartBox .title {
  margin-bottom: 5vh;
}
.cartBox .card {
  margin: auto;
  max-width: 1200px;
  width: 90%;
  box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 1rem;
  border: transparent;
  margin-bottom: 8vh;
  z-index: 999;
}
.cartBox .cart {
  background-color: #fff;
  padding: 4vh 5vh;
  border-bottom-left-radius: 1rem;
  border-top-left-radius: 1rem;
}
.cartBox .summary {
  background-color: #ddd;
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
  padding: 4vh;
  color: rgb(65, 65, 65);
}
.cartBox .summary .col-2 {
  padding: 0;
}
.cartBox .summary .col-10 {
  padding: 0;
}
.cartBox .row {
  margin: 0;
}
.cartBox .title b {
  font-size: 1.5rem;
}
.cartBox .main {
  margin: 0;
  padding: 2vh 0;
  width: 100%;
}
.cartBox .col-2,
.cartBox .col {
  padding: 0 1vh;
}
.cartBox a {
  padding: 0 1vh;
}
.cartBox .close {
  font-size: 1.2rem;
  color: rgb(208, 106, 106);
}
.cartBox .close :hover {
  color: rgb(190, 42, 42);
}
.cartBox img {
  width: 5rem;
}
.cartBox .back-to-shop {
  margin-top: 4.5rem;
}
.cartBox h5 {
  margin-top: 4vh;
}
.cartBox hr {
  margin-top: 1.25rem;
}
.cartBox form {
  padding: 2vh 0;
}
.cartBox select {
  border: 1px solid rgba(0, 0, 0, 0.137);
  padding: 1.5vh 1vh;
  outline: none;
  width: 100%;
  background-color: rgb(247, 247, 247);
}
.cartBox input {
  border: 1px solid rgba(0, 0, 0, 0.137);
  padding: 1vh;
  outline: none;
  width: 100%;
  background-color: rgb(247, 247, 247);
}
.cartBox input:focus::-webkit-input-placeholder {
  color: transparent;
}
.cartBox .btn {
  background-color: #000;
  border-color: #000;
  color: white;
  width: 100%;
  font-size: 0.7rem;
  margin-top: 4vh;
  padding: 1vh;
  border-radius: 0;
}
.cartBox .btn:focus {
  box-shadow: none;
  outline: none;
  box-shadow: none;
  color: white;
  -webkit-box-shadow: none;
  -webkit-user-select: none;
  transition: none;
}
.cartBox .btn:hover {
  color: white;
}
.cartBox a {
  color: black;
}
.cartBox a:hover {
  color: black;
  text-decoration: none;
}
.cartBox #code {
  background-image: linear-gradient(to left, rgba(255, 255, 255, 0.253), rgba(255, 255, 255, 0.185)), url("https://img.icons8.com/small/16/000000/long-arrow-right.png");
  background-repeat: no-repeat;
  background-position-x: 95%;
  background-position-y: center;
}
.cartBox .row-style {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  padding: 2vh 0;
}
.cartBox .col-style {
  padding-left: 0;
}
@media (max-width: 767px) {
  .cartBox .card {
    margin: 3vh auto;
  }
}
@media (max-width: 767px) {
  .cartBox .summary {
    border-top-right-radius: unset;
    border-bottom-left-radius: 1rem;
  }
}
@media (max-width: 767px) {
  .cartBox .cart {
    padding: 4vh;
    border-bottom-left-radius: unset;
    border-top-right-radius: 1rem;
  }
}

.love-OrderCompletedFont {
  font-size: 2rem;
  text-align: center;
}
.love-OrderCompletedFont span {
  color: #F2a99b;
}

.love-OrderCompletedCard {
  margin: auto;
  max-width: 1200px;
  width: 90%;
  height: 400px;
  box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 1rem;
  border: transparent;
  margin-bottom: 15vh;
}

.loveyu-OrderCompletedFontBox {
  padding: 60px;
}
.loveyu-OrderCompletedFontBox .ProjectButton {
  display: block;
  margin: auto;
}

.love-orderContainer {
  width: 90%;
  margin: auto;
}
.love-orderContainer .card {
  width: 100%;
}

.loveyu-orderTitle {
  font-size: 2rem;
  color: #616153;
}

.love-shipInfoBox {
  display: flex;
}

.card .yu_inputblock {
  width: 80%;
  text-align: left;
  padding-top: 1rem;
  padding-bottom: 3rem;
  margin: auto;
  position: relative;
}
.card label {
  margin-top: 1rem;
}
.card .creditCardBlock {
  width: 40%;
  text-align: left;
  padding-top: 1rem;
  padding-bottom: 3rem;
  margin: auto;
  position: relative;
}

.ProjectButton {
  font-size: 1.25rem;
  background-color: #616153;
  border: 1px solid #616153;
  border-radius: 25px;
  padding: 0.65rem 3rem;
  color: #fff;
  cursor: pointer;
  text-decoration: none;
  transition: 0.5s;
}

.ProjectButton:hover {
  color: #616153;
  background-color: #f5f5f5;
  border: 1px solid #616153;
}

.wavesection {
  /* position: relative; */
  position: fixed;
  top: 40%;
  width: 100%;
  height: 150px;
  /* background: #3586ff; */
  overflow: hidden;
  z-index: 0;
  pointer-events: none;
}

.wavesection .wave {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100px;
  background: url("http://localhost:3000/images/wave01.png");
  background-size: 1000px 100px;
}

.wavesection .wave.wave1 {
  -webkit-animation: animate 40s linear infinite;
          animation: animate 40s linear infinite;
  opacity: 1;
  bottom: 0;
}

.wavesection .wave.wave2 {
  -webkit-animation: animate2 20s linear infinite;
          animation: animate2 20s linear infinite;
  z-index: 995;
  opacity: 0.8;
  bottom: 10px;
}

.wavesection .wave.wave3 {
  -webkit-animation: animate3 25s linear infinite;
          animation: animate3 25s linear infinite;
  z-index: 998;
  opacity: 0.4;
  bottom: 25px;
}

@-webkit-keyframes animate {
  0% {
    background-position-x: 0;
  }
  100% {
    background-position-x: 1000px;
  }
}

@keyframes animate {
  0% {
    background-position-x: 0;
  }
  100% {
    background-position-x: 1000px;
  }
}
@-webkit-keyframes animate2 {
  0% {
    background-position-x: 0;
  }
  100% {
    background-position-x: -1000px;
  }
}
@keyframes animate2 {
  0% {
    background-position-x: 0;
  }
  100% {
    background-position-x: -1000px;
  }
}
@-webkit-keyframes animate3 {
  0% {
    background-position-x: 0;
  }
  100% {
    background-position-x: 1000px;
  }
}
@keyframes animate3 {
  0% {
    background-position-x: 0;
  }
  100% {
    background-position-x: 1000px;
  }
}
#root {
  font-family: "Zen Maru Gothic", "Noto Sans TC", sans-serif;
  letter-spacing: 0.1em;
  background-color: #f5f5f5;
}
#root h2 {
  font-size: 48px;
  font-weight: 500;
  font-family: "Zen Maru Gothic", sans-serif;
}/*# sourceMappingURL=App.css.map */