
@import './styles/global';



@import './pages/About/About';
@import './pages/member/Login';
@import './pages/member/Membercenter';
@import './pages/member/MemberRegister';
@import './pages/member/MemberPsdchange';
@import './pages/member/MemberHistory';
@import './pages/member/PsdForgot';
@import './components/Confirm';

@import './components/Navbar/Navbar';
@import './components/Footer/Footer';
@import "./pages/Cart/Cart";
@import './pages/CartOrderCompleted/CartOrderCompleted';
@import './pages/CartOrderInfo/CartOrderInfo';

@import "./components/ProjectButton/ProjectButton";
// @import "./components/BackgroundWaveAnimation/BackgroundWaveAnimation";

#root {
  font-family: 'Zen Maru Gothic', 'Noto Sans TC', sans-serif;
  letter-spacing: .1em;
  // background-color: #f5f5f5;
background:url('http://localhost:3000/images/newBackground.jpeg') repeat ;

  
  h2 {
    font-size: 48px; 
    font-weight: 500;
    font-family: 'Zen Maru Gothic', sans-serif;
  }
}
